<h1>Help</h1>
<p>
	Get help on RubyonRails at
	<a href="http://www.railstutorial.org/help">
		Rails Tutorial Help Page
	</a>
	To get help on this application, visit
	<a href="http://www.railstutorial.org/book">
		<em>Ruby on Rails Tutorial Book</em>
	</a>
</p>
