<% provide(:title, "Home") %>
<h1>Static Shock</h1>
<p>
	This is the home page for a static website.
	visit 
	<a href="http://www.railstutorial.org/">
	Rails Tutorial
	</a>
	to learn how to build this.
</p>

